---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="right-side">
				<div class="title">
					<h1>Welcome to my website!</h1>
				</div>
				<div class="subheading">
					<h2>My name is Ahmad Aiman. I'm Frontend Developer</h2>
				</div>
			</div>
			<div class="left-side">
				<div class="user-image">
					<img src="" alt="user-picture">
				</div>
			</div>
		</main>
		<Footer />
	</body>
	<style>
		.user-image {
			border: 1px solid black;
			width: 400px;
			height: 400px;
		}
	</style>
</html>
